@font-face {
  font-family: 'VTC Du Bois';
  src: url('./assets/VTCDuBois-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'VTC Du Bois';
  src: url('./assets/VTCDuBois-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'VTC Du Bois', sans-serif;
}

@media only screen and (min-width: 1024px) {
 .menu-bg-img{
    height: 520px;
  }
}
@media only screen and (max-width: 768px) {
  .popup-main{
    margin-top: 55vh;
  }
  .menu-bg-img{
    height: 360px;
  }
  .rsvp-main-div{
    margin-top: -8px;
    h1{
      margin-left: -40px
    }
   
  }
  .popup-form{
    margin-top: -88px;
  }
}
@media only screen and (max-width: 541px) {
  .menu-bg-img{
    height: 440px;
  }
  .rsvp-main-div{
    margin-top: 40px;
    h1{
      margin-top: 20px;
    }
    p{
      margin-top: -10px;
    }
  }
  .popup-form{
    margin-top: 0vh;
    
  }
}
@media only screen and (max-width: 441px) {
  .menu-bg-img{
    height: 390px;
  }
  .rsvp-main-div{
    margin-top: -15px;
    h1{
      margin-top: 20px;
    }
    p{
      margin-top: -10px;
    }
  }
  .popup-form{
    margin-top: -20px;
    
  }
}
@media only screen and (max-width: 430px) {
.popup-form{
    margin-top: -70px;
  }
  .menu-bg-img{
    height: 400px;
  }
  .rsvp-main-div{
    margin-top: 5px;
    h1{
      margin-left: -40px
    }
    p{
      margin-top: -10px;
    }
  }
  
}
@media only screen and (max-width: 403px){
  .menu-bg-img{
    height: 400px;
  }
   .rsvp-main-div{
    margin-top: 30px;
    h1{
      margin-left: -40px
    }
    p{
      margin-top: -10px;
    }
  }
}
@media only screen and (max-width: 390px) {
  .popup-main{
    margin-top: 55vh;
  }
  .menu-bg-img{
    height: 400px;
  }
  .rsvp-main-div{
    margin-top: 5px;
    h1{
      margin-left: -40px
    }
    p{
      margin-top: -10px;
    }
  }
  .popup-form{
    margin-top: -35px;
  }
}
@media only screen and (max-width: 376px) {
  .popup-main{
    margin-top: 55vh;
  }
  .menu-bg-img{
    height: 390px;
  }
  .rsvp-main-div{
    margin-top: 38px;
    h1{
      margin-left: -20px
    }
    p{
      margin-top: -10px;
    }
  }
  .popup-form{
    margin-top: -1.7vh;
  }
}
@media only screen and (max-width: 360px) {
  .popup-main{
    margin-top: 55vh;
  }
  .menu-bg-img{
    height: 410px;
  }
  .rsvp-main-div{
    margin-top: 30px;
    h1{
      margin-left: -40px
    }
    p{
      margin-top: -10px;
    }
  }
}
.sel{
  text-align: center;
}
@keyframes scrollUp {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-50%); 
  }
}

.animate-scrollUp {
  animation: scrollUp 40s linear infinite;
}